# name: Auto Bump Version

# on:
#   push:
#     branches:
#       - main

# permissions:
#   contents: write   # allows creating and pushing tags

# jobs:
#   bump:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout repo
#         uses: actions/checkout@v4
#         with:
#           fetch-depth: 0

#       - name: Bump patch version
#         run: bash scripts/version.sh -v patch
